<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FAParticipatingApps</key>
	<array>
		<dict>
			<key>name</key>
			<string>HotelTonight</string>
			<key>appId</key>
			<string></string>
			<key>description</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Gravity Pop</string>
			<key>appId</key>
			<string></string>
			<key>description</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>XD Music Player</string>
			<key>appId</key>
			<string></string>
			<key>description</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
